/*-------------------------- COLORS --------------------------*/
/*-- Orange Main   #e67e22 --*/
/*-- Orange Dark   #bf6516 --*/

/*-----------------------------------------------------------*/
/*----- BASIC SETUP -----*/
/*-----------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: white;
    color:#555;
    font-family: 'Lato','arial','sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------------------------------*/
/*----- HEADINGS -----*/
/*-----------------------------------------------------------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.700) ,rgba(0, 0, 0, 0.700)) ,url(../CSS/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: 20px 0 0 0 ;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin: 55px 30px 0 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    padding: 0 0 5px 0 ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/*-----------------------------------------------------------*/
/*----- HEADERS -----*/
/*-----------------------------------------------------------*/

h1,
h2,
h3 { 
   text-transform: uppercase;  
   letter-spacing: 1px;
}

h1 {
    font-weight: 200;
    margin: 0 0 20 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    font-weight: 300;
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin: 0 0 25px 0;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 15px;
}


h2:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 25 auto 0 auto;
    content: " ";
}


/*-----------------------------------------------------------*/
/*----- REUSEABLE COMPONENTS -----*/
/*-----------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section {
    padding: 80px 0;
}


/*----- Paragraph -----*/

.long-copy {
    line-height: 145%;
    width: 68%;
    margin: 0 auto 50px auto;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*----- Icons -----*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}




/*-----------------------------------------------------------*/
/*----- BOTTOMS -----*/
/*-----------------------------------------------------------*/

/*----- Header Buttoms -----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    margin: 0 15px 0 0;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin: 0 0 0 4px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    border: 1px solid #e67e22;
}


.btn-full:hover,
.btn-full:active {
    background-color: #bf6516;
    border: 1px solid #bf6516;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

/*-----------------------------------------------------------*/
/*----- MEALS -----*/
/*-----------------------------------------------------------*/

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
    overflow: hidden;
}

.meals-photo {
    width: 100%;
    background-color: #000;
}

.meals-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.meals-photo img:hover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);


}

/*-----------------------------------------------------------*/
/*----- HOW IT WORKS -----*/
/*-----------------------------------------------------------*/

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
text-align: right;
padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
}

.app-screen {
    width: 40%;
}